.messages
  .messages__message#data-message_id
    .messages__message--upper-info
      %p.messages__message--upper-info--talker iii
      %p.messages__message--upper-info--date 2019/11/09(Sat) 09:47:15 
    %p.messages__message--text aaaaaaaaaaa